Package: com.ginsu.notchbanners
Name: NotchBanners
Architecture: iphoneos-arm
Description: Banners from the notch!
Maintainer: Ginsu
Author: Ginsu
Section: Tweaks
Depends: dev.theos.orion14, firmware (>= 14.0), preferenceloader, com.ginsu.libgscommon
Version: 2.2.5
Installed-Size: 2016
