<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Dimensions</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>PSSubtitleSwitchTableCell</string>
			<key>cellSubtitleText</key>
			<string>Use a custom width for the banner</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.ginsu.notchbanners</string>
			<key>key</key>
			<string>customWidth</string>
			<key>label</key>
			<string>Custom width</string>
            <key>id</key>
            <string>customWidthStatus</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>cellClass</key>
			<string>GSSliderCell</string>
			<key>title</key>
			<string>Banner width</string>
			<key>default</key>
			<real>209</real>
			<key>defaults</key>
			<string>com.ginsu.notchbanners</string>
			<key>key</key>
			<string>customWidthValue</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>2000</real>
            <key>dynamicRule</key>
            <string>customWidthStatus,0</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>PSSubtitleSwitchTableCell</string>
			<key>cellSubtitleText</key>
			<string>Use a custom width for the banner</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.ginsu.notchbanners</string>
			<key>key</key>
			<string>customButtonHeight</string>
			<key>label</key>
			<string>Custom button height</string>
            <key>id</key>
            <string>customButtonHeightStatus</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>cellClass</key>
			<string>GSSliderCell</string>
			<key>title</key>
			<string>Button height</string>
			<key>default</key>
			<real>50</real>
			<key>defaults</key>
			<string>com.ginsu.notchbanners</string>
			<key>key</key>
			<string>customButtonHeightValue</string>
			<key>min</key>
			<real>10</real>
			<key>max</key>
			<real>150</real>
            <key>dynamicRule</key>
            <string>customButtonHeightStatus,0</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Radius</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>PSSubtitleSwitchTableCell</string>
			<key>cellSubtitleText</key>
			<string>Use a custom radius for the banner</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.ginsu.notchbanners</string>
			<key>key</key>
			<string>customRadius</string>
			<key>label</key>
			<string>Custom banner radius</string>
            <key>id</key>
            <string>customRadiusStatus</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>cellClass</key>
			<string>GSSliderCell</string>
			<key>title</key>
			<string>Banner radius</string>
			<key>default</key>
			<real>24</real>
			<key>defaults</key>
			<string>com.ginsu.notchbanners</string>
			<key>key</key>
			<string>customRadiusValue</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>100</real>
            <key>dynamicRule</key>
            <string>customRadiusStatus,0</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>PSSubtitleSwitchTableCell</string>
			<key>cellSubtitleText</key>
			<string>Use a custom radius for the buttons</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.ginsu.notchbanners</string>
			<key>key</key>
			<string>customButtonRadius</string>
			<key>label</key>
			<string>Custom button radius</string>
            <key>id</key>
            <string>customButtonRadiusStatus</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>cellClass</key>
			<string>GSSliderCell</string>
			<key>title</key>
			<string>Button radius</string>
			<key>default</key>
			<real>14</real>
			<key>defaults</key>
			<string>com.ginsu.notchbanners</string>
			<key>key</key>
			<string>customButtonRadiusValue</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>100</real>
            <key>dynamicRule</key>
            <string>customButtonRadiusStatus,0</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Timers</string>
			<key>footerText</key>
			<string>Adjust the amount of seconds it takes before the banner is automatically dismissed.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>cellClass</key>
			<string>GSStepperCell</string>
			<key>title</key>
			<string>Dismiss timer</string>
			<key>default</key>
			<real>5</real>
			<key>defaults</key>
			<string>com.ginsu.notchbanners</string>
			<key>key</key>
			<string>dismissTime</string>
			<key>min</key>
			<real>1</real>
			<key>max</key>
			<real>10</real>
		</dict>
	</array>
	<key>title</key>
	<string>Behaviour</string>
</dict>
</plist>
